<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680151749830-vtk605ctp2dnhqltuh8727omkr8s3d37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680151749830-vtk605ctp2dnhqltuh8727omkr8s3d37</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>680151749830-6740fub5pl1c7mlvstaff0omil9l2qej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQCk6OBy9zfQ6h72EEoL40bgGlDGJQE1w</string>
	<key>GCM_SENDER_ID</key>
	<string>680151749830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhcompany.maccave</string>
	<key>PROJECT_ID</key>
	<string>maccave-app</string>
	<key>STORAGE_BUCKET</key>
	<string>maccave-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680151749830:ios:3b5ff120d46bb595d6b3c7</string>
</dict>
</plist>